body {
  color: #545c6f;
  font-family: Nunito Sans,sans-serif;
  font-size: .875rem;
  line-height: 1.5;
  font-weight: 600;
}

body:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #2cad66;
}

h1 {
  font-weight: 400;
  font-size: 6rem;
}

h2 {
  font-weight: 600;
}

.decorative-img {
  max-height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.app-container {
  max-width: 1224px;
}

.form-container {
  background: #EDEEF1;
}

.form-container form {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.form-container form > div {
  margin-top: 20px;
}

.form-container div > img {
  width: 70px;
}

@media screen and (min-width: 767px) {
  .form-container div > img {
    margin-right: 10px;
  }
}

.form-container input,
.minutes-needed {
  outline: none;
  border: solid #8e97aa 3px;
  padding-left: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.minutes-needed {
  text-align: center;
  margin: 3rem auto;
  border-radius: 25px;
  font-size: 3rem;
  border-radius: 50px;
  background: white;
  border-width: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.form-container input:focus {
  border: #2cad66 solid 3px;
}

.form-container .btn.green {
  background: #2cad66;
  color: white;
}